* {
	box-sizing: border-box;

}
body {


	font-family: 'Roboto', sans-serif;
}
.conteiner {
	width: 1200px;
	margin: 0 auto;


}
.col-md-3 {
	width: 25%;
}
.col-md-6 {
	width: 50%;
}
[class*="col-"] {
	float: left;
}
.row:after {
	content: "";
	clear: both;
	display: block;
}